<header id="header">
    <h1>Stock watcher
         <!-- <img src="why-tesla-stock-is-up-tsla.jpg" width="50" height="50" alt=""> -->
         <img src="financeIcon.jpg"  width="50" height="50" alt=""> 
</h1> 
    
    </header>