<header id="header">
    <h1 id="header-wrapper">Stock watcher
         <!-- <img src="why-tesla-stock-is-up-tsla.jpg" width="50" height="50" alt=""> -->
         <img src="static/financeIcon.jpg"  width="50" height="50" alt=""> 
</h1> 
    
    </header>