
<nav class="column" id="left">


    <ul>
        <div class="col-md-12 text-center ">
        <h3>Menu</h3>
        <!-- <a href="articles/show/edit.ejs" class="btn btn-success">Read More</a> -->
        <!-- <button type="button" class="btn btn-warning">Favourite stocks</button> -->
        <a href="/favourites" class="btn btn-warning mb-2" role="button">Favourite stocks</a>
        <a href="/transactions" type="button" class="btn btn-dark mb-2" role="button" >Transactions</a>
        <!-- <button type="button" class="btn btn-primary">All stocks </button> -->
        <a href="/stocks" class="btn btn-primary mb-2" role="button">All stocks</a>
        <a href="/search" type="button" class="btn btn-light mb-2" role="button" >Search</a>
        <!-- <button type="button" class="btn btn-info">Profile</button> -->
        <a href="/profile" class="btn btn-info mb-4" role="button">Profile</a>
        <a href="/logout" class="btn btn-outline-danger mb-2" role="button">Sign out</a>
        <!-- <button type="button" class="btn btn-danger">Sign out</button> -->
        <!-- <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
        <li><a href="#">Link 5</a></li> -->
        </div>
    </ul>
    
    <!-- <h3>Left heading</h3>
    
    <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
        <li><a href="#">Link 5</a></li>
    </ul> -->
    </nav>