<div class="sidenav">
    <a href="/favourites" class="btn btn-warning mb-2" role="button">Favourite stocks</a>

    <a href="/transactions" type="button" class="btn btn-dark mb-2" role="button" >Transactions</a>
    <a href="/stocks" class="btn btn-primary mb-2" role="button">All stocks</a>

    <a href="/search" type="button" class="btn btn-light mb-2" role="button" >Search</a>

    <a href="/profile" class="btn btn-info mb-4" role="button">Profile</a>
    <a href="/logout" class="btn btn-outline-danger mb-2" role="button">Sign out</a>
  </div>

   