<html>
<body>
    <h1>Successful</h1>
    <script>
        setTimeout(function () {
           // after 2 seconds
           //ha azt akarom hogy legyen successful szöveg
           window.location = "/stocks/<%=adat%>";
        }, 700) //1000 volt = 1 sec
      </script>
</body>
</html>