<html>
<body>
    <h1>Successful</h1>
    <script>
        setTimeout(function () {
           // after 2 seconds
           
           window.location = "/stocks/<%=adat%>";
        }, 1000)
      </script>
</body>
</html>